<div id="dialog_gcodescriptmanager_editscript" class="modal hide fade-in" tabindex="-1">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h4 class="modal-title">
            <span data-bind="visible: $root.editDialog_isEditMode">{{ _('Edit GCODE Script') }}</span>
            <span data-bind="visible: $root.editDialog_isAddMode">{{ _('New GCODE Script') }}</span>
        </h4>
    </div>

    <div class="modal-body">
        <form class="form-horizontal" onsubmit="return false;">
            <div class="control-group" data-bind="css: {error: $root.editDialog_nameInvalid()}">
                <label class="control-label">{{ _('Name') }}</label>
                <div class="controls">
                    <input class="input-block-level" type="text" data-bind="value: $root.tempScript.name">
                    <span data-bind="visible: $root.editDialog_nameInvalid()">
                        <span class="help-block" data-bind="visible: $root.editDialog_nameInvalid_empty()">{{ _('Name must be set') }}</span>
                        <span class="help-block" data-bind="visible: $root.editDialog_nameInvalid_duplicate()">{{ _('Name must be unique') }}</span>
                    </span>
                </div>
                <label class="control-label">{{ _('Description') }}</label>
                <div class="controls">
                    <textarea rows="2" class="block" data-bind="value: $root.tempScript.description"></textarea>
                </div>
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: $root.tempScript.enabled"> {{ _('Enable Script') }}
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: $root.tempScript.sidebarToggle"> {{ _('Show in Sidebar') }}
                    </label>
                </div>
                <div class="contols text-right">
                    <small><a href="#" class="muted" data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', parent: '.control-group', container: '.hide' }">
                        <i class="fas fa-caret-down"></i> {{ _('Advanced options') }}
                    </a></small>
                </div>
                <div class="hide" style="display: block;">
                    <label class="control-label">{{ _('On Connect') }}</label>
                    <div class="controls">
                        <select class="input-block-level" data-bind="value: $root.tempScript.onConnect, options: $root.onConnectOptions, optionsText: 'label', optionsValue: 'value'"></select>
                    </div>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: $root.tempScript.autoDisable"> {{ _('Auto Disable after Triggering') }}
                            <span class="help-block"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div data-bind="foreach: $root.tempScript.scripts">
                <hr>
                <div class="control-group">
                    <label class="control-label">{{ _('Script Type') }}</label>
                    <div class="controls">
                        <select class="input-block-level" data-bind="value: $data.type, options: $root.typeOptions, optionsText: 'label', optionsValue: 'value'"></select>
                    </div>
                    <label class="control-label">{{ _('Script Timing') }}</label>
                    <div class="controls">
                        <select class="input-block-level" data-bind="value: $data.when, options: $root.whenOptions, optionsText: 'label', optionsValue: 'value'"></select>
                    </div>
                    <label class="control-label">{{ _('Script') }}</label>
                    <div class="controls">
                        <textarea rows="4" class="block monospace" data-bind="value: $data.script"></textarea>
                    </div>
                    <div class="controls text-right">
                        <button type="button" title="Delete Subscript" class="btn btn-mini btn-danger" data-bind="click: function() { $root.editDialog_removeSubscript($index()); }"><i class="fas fa-trash"></i></button>
                        <div class="btn-group">
                            <button type="button" title="Move Up" class="btn btn-mini btn-grey" data-bind="click: function() { $root.editDialog_moveUp($index()); }, enable: $root.editDialog_canMoveUp($index())"><i class="fas fa-chevron-up"></i></button>
                            <button type="button" title="Move Down" class="btn btn-mini btn-grey" data-bind="click: function() { $root.editDialog_moveDown($index()); }, enable: $root.editDialog_canMoveDown($index())"><i class="fas fa-chevron-down"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group text-right">
                <button type="button" title="Add Script" class="btn btn-success btn-small" data-bind="click: function() { $root.editDialog_addSubscript(); }">
                    <i class="fas fa-plus"></i> {{ _('Add Subscript') }}
                </button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="control-group">
            <div class="controls row-fluid">
                <span class="span8" style="text-align:left">
                    <button type="button" class="btn btn-danger" data-bind="visible: $root.editDialog_isEditMode, click: $root.editDialog_confirmRemove">Delete</button>
                    <button type="button" class="btn btn-warning" data-bind="visible: $root.editDialog_isEditMode, click: $root.editDialog_duplicate">Duplicate</button>
                </span>
                <span class="span4 text-right">
                    <button class="btn" data-dismiss="modal" style="text-align:right">{{ _('Cancel') }}</button>
                    <button class="btn btn-primary" data-bind="disable: $root.editDialog_formInvalid, click: $root.editDialog_save" style="text-align:right">Save</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div id="dialog_gcodescriptmanager_confirmremove" class="modal hide fade-in">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{ _('Delete GCODE Script') }}</h3>
    </div>
    <div class="modal-body">
        <p>{{ _('Are you sure you want to delete this GCODE script? This cannot be undone!') }}</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-danger" data-bind="click: $root.editDialog_remove">Delete</a>
    </div>
</div>