<h3>{{ _("GCODE Script Manager") }}</h3>
<form class="form-horizontal" onsubmit="return false;">
    <div class="row-fluid">
        <div class="offset1 span5"><strong>{{ _('Name') }}</strong></div>
        <div class="span4"><strong>{{ _('Type') }}</strong></div>
    </div>
    <div class="control-group" data-bind="foreach: scripts">
        <div class="row-fluid">
            <div class="span1 text-center"><input type="checkbox" data-bind="checked: $data.enabled, change: $root.saveSettings"></div>
            <div class="span5" data-bind="text: $data.name"></div>
            <div class="span4" data-bind="text: $root.typeMap[$data.type()]"></div>
            <div class="span2 text-right">
                <div class="btn-group">
                    <button type="button" title="Move Up" class="btn btn-mini btn-grey" data-bind="click: function() { $root.moveScriptUp($data); }, enable: $root.canMoveUp($data)"><i class="fas fa-chevron-up"></i></button>
                    <button type="button" title="Move Down" class="btn btn-mini btn-grey" data-bind="click: function() { $root.moveScriptDown($data); }, enable: $root.canMoveDown($data)"><i class="fas fa-chevron-down"></i></button>
                </div>
                <button type="button" title="Edit Script" class="btn btn-mini btn-primary" data-bind="click: function() { $root.editScript($data); }"><i class="fas fa-pencil"></i></button>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <button type="button" title="Add Script" class="btn btn-success offset10 span2" data-bind="click: function() { $root.addScript(); }"><i class="fas fa-plus"></i></button>
    </div>
</form>