<h3>{{ _("GCODE Script Manager") }}</h3>
<form class="form-horizontal" onsubmit="return false;">
    <div class="row-fluid">
        <div class="span4"><strong>{{ _('Name') }}</strong></div>
        <div class="span6"><strong>{{ _('Description') }}</strong></div>
    </div>
    <div class="control-group" data-bind="foreach: $root.scripts">
        <div class="row-fluid">
            <div class="span4" data-bind="text: $data.name"></div>
            <div class="span6 text-muted" data-bind="text: $data.description"></div>
            <div class="span2 text-right">
                <div class="btn-group">
                    <button type="button" title="Move Up" class="btn btn-mini btn-grey" data-bind="click: function() { $root.moveScriptUp($index()); }, enable: $root.canMoveUp($index())"><i class="fas fa-chevron-up"></i></button>
                    <button type="button" title="Move Down" class="btn btn-mini btn-grey" data-bind="click: function() { $root.moveScriptDown($index()); }, enable: $root.canMoveDown($index())"><i class="fas fa-chevron-down"></i></button>
                </div>
                <button type="button" title="Edit Script" class="btn btn-mini btn-primary" data-bind="click: function() { $root.editScript($data); }"><i class="fas fa-pencil"></i></button>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <button type="button" title="Add Script" class="btn btn-success offset10 span2" data-bind="click: function() { $root.addScript(); }"><i class="fas fa-plus"></i></button>
    </div>
</form>
<div id="modal-dialog-gcodescriptmanager" style="display: none">
    {% include 'gcodescriptmanager_dialogs.jinja2' %}
</div>