<h3>{{ _("GCODE Script Manager") }}</h3>
<form class="form-horizontal" onsubmit="return false;">
    {% include 'gcodescriptmanager_scriptlist.jinja2' %}
</form>
<div id="modal-dialog-gcodescriptmanager" style="display: none">
    {% include 'gcodescriptmanager_dialog_editscript.jinja2' %}
</div>