<div id="dialog_gcodescriptmanager_editscript" class="modal hide fade-in">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h4 class="modal-title">
            <span data-bind="visible: $root.editDialog_isEditMode">{{ _('Edit GCODE Script') }}</span>
            <span data-bind="visible: $root.editDialog_isAddMode">{{ _('New GCODE Script') }}</span>
        </h4>
    </div>

    <div class="modal-body">
        <form class="form-horizontal" onsubmit="return false;">
            <div class="control-group" data-bind="css: {error: $root.editDialog_nameInvalid()}">
                <label class="control-label">{{ _('Name') }}</label>
                <div class="controls">
                    <input type="text" data-bind="value: $root.tempScript.name">
                    <span data-bind="visible: $root.editDialog_nameInvalid()">
                        <span class="help-block" data-bind="visible: $root.editDialog_nameInvalid_empty()">{{ _('Name must be set') }}</span>
                        <span class="help-block" data-bind="visible: $root.editDialog_nameInvalid_duplicate()">{{ _('Name must be unique') }}</span>
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Script Type') }}</label>
                <div class="controls">
                    <select data-bind="value: $root.tempScript.type, options: $root.typeOptions, optionsText: 'label', optionsValue: 'value'"></select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Script Timing') }}</label>
                <div class="controls">
                    <select data-bind="value: $root.tempScript.when, options: $root.whenOptions, optionsText: 'label', optionsValue: 'value'"></select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Enable Script') }}</label>
                <div class="controls">
                    <input type="checkbox" data-bind="checked: $root.tempScript.enabled">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Show in Sidebar') }}</label>
                <div class="controls">
                    <input type="checkbox" data-bind="checked: $root.tempScript.sidebarToggle">
                </div>
            </div>
            <div class="control-group" data-bind="css: {warning: $root.editDialog_scriptWarning_empty()}">
                <label class="control-label">{{ _('Script') }}</label>
                <div class="controls">
                    <textarea rows="4" class="block monospace" data-bind="value: $root.tempScript.script"></textarea>
                    <span class="help-block" data-bind="visible: $root.editDialog_scriptWarning_empty()">{{ _('Script shouldn\'t be empty') }}</span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="control-group">
            <div class="controls row-fluid">
                <span class="span8" style="text-align:left">
                    <button type="button" class="btn btn-danger" data-bind="visible: $root.editDialog_isEditMode, click: $root.editDialog_confirmRemove">Delete</button>
                    <button type="button" class="btn btn-warning" data-bind="visible: $root.editDialog_isEditMode, click: $root.editDialog_duplicate">Duplicate</button>
                </span>
                <span class="span4 text-right">
                    <button class="btn" data-dismiss="modal" style="text-align:right">{{ _('Cancel') }}</button>
                    <button class="btn btn-primary" data-bind="disable: $root.editDialog_formInvalid, click: $root.editDialog_save" style="text-align:right">Save</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div id="dialog_gcodescriptmanager_confirmremove" class="modal hide fade-in">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{ _('Delete GCODE Script') }}</h3>
    </div>
    <div class="modal-body">
        <p>{{ _('Are you sure you want to delete this GCODE script? This cannot be undone!') }}</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-danger" data-bind="click: $root.editDialog_remove">Delete</a>
    </div>
</div>