<h3>{{ _("GCODE Script Manager") }}</h3>
<div>
    {% include 'gcodescriptmanager_scriptlist.jinja2' %}
</div>
<div id="modal-dialog-gcodescriptmanager" style="display: none">
    {% include 'gcodescriptmanager_dialog_editscript.jinja2' %}
</div>