#settings_plugin_gcodescriptmanager {
  .control-group > .row-fluid {
    & + * {
      margin-top: 5px;
    }
  }

  textarea {
    resize: vertical;
  }
}

#sidebar_plugin_gcodescriptmanager {
  overflow: visible;

  .gcodescriptmanager-script-enable {
    text-align: left;
  }
  .gcodescriptmanager-script-name {
    margin: 3px 0 3px 5px;
  }
  .gcodescriptmanager-script-info {
    margin: 3px 0 3px 5px;
    text-align: right;
  }
}
