#settings_plugin_gcodescriptmanager, #tab_plugin_gcodescriptmanager {
  table {
    tbody, thead {
      tr {
        th, td {
          white-space: nowrap;
          
          &.min-content {
            width: min-content;
          }
          &.max-content {
            width: max-content;
          }
        }
      }
    }
  }

  textarea {
    resize: vertical;
  }
}

#sidebar_plugin_gcodescriptmanager {
  &.in{
    overflow: visible;
  }

  .gcodescriptmanager-script-enable {
    text-align: left;
  }
  .gcodescriptmanager-script-name {
    margin: 3px 0 3px 5px;
  }
  .gcodescriptmanager-script-info {
    margin: 3px 0 3px 5px;
    text-align: right;
  }
}
